*{padding: 0%;
margin: 0%;
}

.opciones-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    height: 100px;
}
.opciones-menu > div{
    flex: 1;
    color: rgb(0, 0, 0);
    margin-left: 10px;
    margin-right: 10px;
    text-align:  center;
    height: 20px;
     font-size: 30px;
     

}
.opciones-menu > div:hover{
    flex: 1;
    color: rgb(136, 135, 135);
     cursor: pointer;
  
}
#marca{
     
    margin-left: 0%;
    padding-right: 20px;
    height: 128px;
}

footer{
    background-color: #FFDBD4;
    text-align: center;
    height: 300px;
     line-height: 300px;
     font-size: 20px;
     color: rgb(70, 59, 59);
     font-weight: bolder;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
#div-form{
display: flex;
align-items: center;
align-content: center;
 
flex-direction: row;
width: 100%;
}
#div-form>div{
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 100px;
    margin-top: 3%;
    height: 500px;
     
     text-align: center;
    width: 550px;
    border-radius: 40px;
    background-color:#FFC9C0
     
}
 input{
    border-radius: 20px;
    height: 20px;
    width: 300px;
}
input[type="button"]{
    margin-top: 20px;
    background-color: aquamarine;
    color: black;
    font-size: medium;
    font-weight: bold;
    border-radius: 10px;
    height: 30px;
    width: 100px;
}
#tabla-sabores{
    border: black 1px solid;
    width: 350px;
    height: 100px;
    margin-top: 30px;
    margin-left: 300px;
}
#tabla-Adornos{
    border: black 1px solid;
    width: 350px;
    height: 100px;
    margin-top: 30px;
    margin-left: 300px;
}